body {
    font-family: "Gowun Dodum";
}

table {
    max-width: 70%; 
    max-height: 70%; 
    margin: auto;
}

.tTitle {
    color: white;
    background-color: rgb(56, 155, 89);
    font-family: "Gowun Dodum";
    border-radius: 5px 5px 0px 0px;
}

#search {
    margin-bottom: 2em;
    width: 100%;
    text-align:center
}

#searchbox {
    
    text-align:center
}

tr {
    padding-bottom: 1em
}

nav {
    background-color: #333;
    overflow: hidden;
    padding-left: 5%;
    margin-bottom: 5%;
}

nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav a.active {
    background-color: #04AA6D;
    color: white;
}

.filteredMultilan {
    width: 500px; 
    height: 160px;
    max-width: 100%;
    resize: none;
    overflow-y: scroll;
    margin-top: -3px;
    margin-left: -1px;
}

.menu {
    display: inline-block;
}

#fileBtn {
    /* display: block; */
    background-image: url(magnifier.PNG);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 33px;
    width: 35px;
    border-radius: 50px;
    border: none;
    vertical-align: bottom;
    margin-bottom: 1px;
    margin-left: -45px;
}

#output {
    border: 1px solid black;
}

#myFiles {
    margin-bottom: 2em;
}

.custom-file-upload {
    background-color: white;
}

.custom-file-upload img {
    height: 100px;
    width: 100px;
}

.CopyButtonContainer {
    text-align: left;
}

.copyMultilan {
    width: 60px;
    height: 30px;
    margin-left: 10px;
    background-color: #e6e6e6;
    border: none;
}

.copyMultilan:hover {
    background-color: #8f8e8e;
}

.fixedTooltip {
    position: fixed;
    bottom: 20px;
    left: auto;
    right: 45%;
}


#SearchID {
    padding: 10px;
    padding-right: 5%;
    font-size: 13px;
    width: 50%;
    resize: none;
    text-indent: 5px;
    outline-width: 0;
    border: none;
    border-radius: 50px;
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 20%), 0 6px 100px 0 rgb(0 0 0 / 19%);
}

textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}

#copiedMSG, #errorMSG {
    margin-top: 1.5em;
    text-align: center;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-color: #706f6f;
    color: white;
}

#errorMSG {
    width: 210px;
}

.elementToFadeInAndOut {
    -webkit-animation: fadeinout 2s linear forwards;
    animation: fadeinout 2s linear forwards;
}

@-webkit-keyframes fadeinout {
  0% { opacity: 0; }
  10% { opacity: 1; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeinout {
    0% { opacity: 0; }
    10% { opacity: 1; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}


#psd2CmdGenerator {
    margin-top: 3em;
    text-align: center;
}

#generatedCmd {
    margin-top: 1em;
    width: 465px;
    height: 100px;
}

#url {
    width: 465px;
}


.generatorFieldClass {
    padding: 10px;
    width: 190px;
}

.generatorButtonClass {
    background-color: #04AA6D;
    border: none;
    padding: 10px;
    font-size: 15px;
    color: white;
}

.generatorButtonClass:hover {
    background-color: #058d5b;
}

